body {
  font-family: verdana;
  margin: 0
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

#drinkProductDiv{
  border: 2px solid blue
}