/* * {
  margin: 0;
  padding: 0
} */
html {
  overflow-y: scroll;
}

body {
  font-family: verdana;
  margin: 0;
  background-color: #f5f5f5;
}

.app-body{
  min-height: calc((100%) -  137px);
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

#subnav{
  position: sticky;
  top: 0;
  z-index: 100;
}

#productDiv{
  margin: 1rem auto;
  max-width: fit-content;
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
  border-left: 1px solid #029987;
  border-top: 1px solid #029987;
  border-right: 3px solid #029987;
  border-bottom: 3px solid #029987;
  border-radius: 0 0 1rem 0;
}

#productDiv > div {
  margin: 1rem
}

.background {
  background-image: url('images/coffee_cup_illustration_blue.jpeg');
  background-repeat: no-repeat;
  background-size: 100%
  /* background-position: fixed; */

  /* border: 2px solid red; */
}

#aboutDiv{
  margin: 1rem auto;
  max-width: fit-content;
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
  border-left: 1px solid #029987;
  border-top: 1px solid #029987;
  border-right: 3px solid #029987;
  border-bottom: 3px solid #029987;
  border-radius: 0 0 1rem 0;
}

#aboutDiv > div {
  margin: 1rem;
  flex: 1 1 100%
}

